body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: rgb(255, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 10px auto 0px auto;
}

.title input {
    height: 30px;
    width: 60vw;
    background-color: transparent;
    font-size: 16px;
    color: white;
}

.title > h1{
    font-size: 50px;
}

.searchbox {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
}

.putbtn img {
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.moviecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.mycards {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}

.onecard {
    width: 300px;
    height: 520px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.onecard img {
    width: 100%;
    height: 390px;
}

/*모달 팝업*/
.onefile {
        display: none;
        position: absolute;
        z-index: 1000;
    }

    .modalcard {
    /*팝업*/
        position: absolute;
        top: 70%;
        left: 50%;
        width: 550px;
        transform: translate(-50%, -40%);
        padding: 20px;
        background: #ffffff;
        border-radius: 20px;
        z-index: 1001;
    }

    .modalcard img {
        width: 100%;
    }

    .modalBtn {
        display: flex;
        justify-content: flex-end;
    }

    .close-modal {
        display: block;
        padding: 10px 15px;
        margin-bottom: 5px;
        background-color: rgb(156, 60, 60);
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: box-shadow 0.5s;
    }

    .modal-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
    }

.foot {
    bottom: 0;
    color: rgb(100, 100, 100);
}